
.image{
	position:relative;
	left:-8px;
	top:-6px;
	background-image:url("images/i.png");
	background-repeat:no-repeat;
	width:1347;
	height:300;
	background-color:DimGray;
    display:block;	
    text-indent:-9999px;
}

.box{
	margin-top:200px;
	background-color:SaddleBrown;
	width:1347;
	height:80;
}
.button{
	 position:relative;
	 left:230px;
	 top:-160px;
	 width:365px;
}
.ButtonGrup{
	padding:10px;
	font-family:"Comic Sans Ms"; 
	cursor:pointer;
	border:2px double black;
}
.ButtonGrup:hover{
	color:red;
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.s{
	text-decoration:none;
}
#tvButton{
	padding-left:25px;
	padding-right:25px;
}

.uye{
	 position:relative;
	 left:1160px;
	 top:-80px;
	 cursor:pointer;
}
.simge{	
	background-image:url("images/Search.png");
	background-repeat:no-repeat;
	border-radius:10px;
	width:200px;
	height:25px;
	padding-left:27px;
	position:relative;
	left:900px;
	top:-120px;
}
.kutu{
	position:relative;
	left:-8px;
	top:-155px;
	background-color:peru;
	width:1347;
	height:180;
	
}
.sart{
	color:black;
	position:relative;
	top:60px;
	text-align:center;
	font-family:"Comic Sans Ms";
	
}

.box4{
    position:relative;
	top:-150px;
	left:-6px;
	background-color:lemonchiffon;
	width:1345px;
	height:1900;
}
.im{
	position:relative;
	top:85px;
	left:100px;
	width:350px;
	cursor:pointer;
	border-radius:20px;
	margin:10px;
}
#imbir{
	border:6px solid black;					   
}
#imiki{
	border:6px solid black;
}
#imuc{
	border:6px solid black;
}
.ip{
	position:relative;
	top:-8px;
	left:100px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.ip:hover{
	  text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.ipp{
	position:relative;
	top:-66px;
	left:486px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.ipp:hover{
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
	cursor:pointer;			 

}
.ippp{
	position:relative;
	top:-123px;
	left:872px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.ippp:hover{
	  text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.yakinda{
	color:black;
	text-align:center;
	font-size:40px;
	border-top:8px solid Gray;
	padding-top:90px;
	border-radius:20px;             
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
	cursor:auto;
}
.is{
	cursor:pointer;
	position:relative;
	top:35px;
	left:100px;
	width:350px;
	
	border-radius:20px;
	margin:10px;
}

.ie{
	position:relative;
	top:-55px;
	left:100px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.ie:hover{
	  text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.iee{
	position:relative;
	top:-115px;
	left:486px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.iee:hover{
	  text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.ieee{
	position:relative;
	top:-175px;
	left:872px;
	width:331;
    border-radius:20px;
	background-color:hsla(0, 0%, 0%, 0.64);
	text-align:center;
	
}
.ieee:hover{
	  text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
}
.ulasin{
	color:black;
	text-align:center;
	font-size:40px;
	border-top:8px solid Gray;
	padding-top:90px;
	border-radius:20px;             
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
	cursor:auto;
}
.ulasinPhoto{
	position:relative;
	top:35px;
	left:100px;
	width:950px;
	height:200px;
	border-radius:20px;
	margin:10px;
}
.likePhoto{
	position:relative;
	top:10px;
	left:-850px;
	width:100px;
	height:50px;
    border-radius:20px;
	cursor:pointer;
}
.likes{
	color:black;
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
	position:relative;
	top:-105px;
	left:220px;
	cursor:auto;
}
.movies{
	color:black;
	text-shadow:1px 2px 3px #EB3865,
	             2px 3px 7px #EB3865;
	position:relative;
	top:-80px;
	left:220px;
	text-decoration:underline;
}
.sharePhoto{
	position:relative;
	top:-190px;
	left:930px;
	width:70px;
	height:70px;
    border-radius:20px;
	cursor:pointer;
}



.sonBox{
	position:relative;
	top:-161px;
	left:-9px;
	background-color:DimGray;
	width:1348;
	height:700;
}
.prg{
	color:gold;
	margin-left:-8px;
	cursor:text;
	cursor:pointer;
}
div>p{
	margin:15px;
	font-weight:50px;
	padding:10px;
	font-family:"Comic Sans Ms";
    cursor:text;
	color:white;
}

.ilk{
	position:relative;
	top:-680px;
	left:400px;
	color:white;
		cursor:pointer;
}
.ilkPhoto{
	width:20px;
	height:20px;
	margin-left:35px;
	cursor:pointer;
}
.tavsiye{
	cursor:text;
}
.uygulama{
	cursor:text;
}
.sos{
	cursor:text;
}
.iletisim{
	position:relative;
	top:-670px;
	left:420px;

}
.iletisimPhoto{
	width:30px;
	height:30px;
    margin:14px;
    margin-left:60px;	
}
.numaralar{
	position:relative;
	top:-910px;
	left:520px;
}
.iletisimNumara{
	margin:14px;
	cursor:text;
}
.app{
	position:relative;
	top:-840px;
	left:450px;
}
.store{
	width:150px;
	height:60px;
	cursor:pointer;
}
.sosyal{
	position:relative;
	top:-780px;
	left:50px;
}
.medya{
	margin-left:15px;
	cursor:pointer;
}
.box3{
	position:relative;
	top:19px;
	left:440px;
	background-color:Goldenrod;
	width:872px;
	height:140px;
	cursor:text;
}
.b{
	position:relative;
	top:19px;
	left:430px;
	color:yellow;
	cursor:text;
}